body {
  font-family: 'Raleway', sans-serif;
  background: #2e2e2e;
  margin: 0;
  padding: 0;
  /*the margin and padding is just to neutralize the whole document*/
}

/*#####
Jumbotron
#####*/
#wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

/*#####
Navigation bar
#####*/
nav {
  font-family: Quicksand, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.3s;
  z-index: 99999;
}

/*.black class gets added in js*/
nav.black {
  background: rgba(0,0,0,0.8);
  height: 100px;
  padding: 10px 100px;
  z-index: 99999;
}

nav #logo {
  padding: 20px 20px;
  height: 80px;
  float: left;
  font-size: 30px;
  transition: 0.3s;
  z-index: 9999;
}

nav #logo a {
  color: #ff8533;
}


nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  line-height: 75px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  transition: 0.3s;
  float: left;
}

nav .black ul li a {
  color: #fff
}

nav li a:hover {
  color: #6e6e6e;
}

/*for the nav bar animation*/
nav li a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #657082;

  position: absolute;
  top: 22px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav li a:hover::before  {
  width: 7%;
}



/*Jumbotron heading positioning and animation*/
.jumbotron-text h1{
  margin-left: 10%;
  margin-top: 20%;
  font-size: 105px;
  color: rgba(225,225,225,0.1);
  background-image: url("pics/smoky.jpg");
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  animation: animate 60s linear infinite;
  text-align: left;
  font-weight: 700;
}

@keyframes animate {
  0% {
    background-position: left 0px top 10px;
  }
  40% {
    background-position: left 800px top 10px;
  }
}

#filler{
  height: 100vh;
}

/*#####
about section
#####*/
#about {
  width: 100%;
}

#about-text {
  width: 98%;
}

#about-text h2 {
  width: 35%;
  margin: 0 auto;
  padding-top: 95px;
  color: #ff8533;
  font-size: 50px;
}

#about-text p {
  color: #fff;
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  margin-top: 60px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

/*#####
skills section
#####*/
#skills h3 {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  color: #ff8533;
  font-size: 50px;
}
#skills h4 {
  text-decoration: underline;
  color: #fff;
  font-size: 25px;
}

#skill-tree {
  width: 80%;
  margin: 0 auto;
}

#skills-left {
  color: #999;
  width: 49%;
  float: left;
  font-size: 20px;
}

#skills-right {
  color: #999;
  width: 49%;
  float: right;
  font-size: 20px;
}

.skill-list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-bottom: 150px;
}

#skills::after {
  content: "";
  display: table;
  clear: both;
}

/*#####
Projects section
#####*/

#project-container h2 {
  width: 18%;
  position: relative;
  margin: 0 auto;
  padding-top: 95px;
  color: #ff8577;
  font-size: 50px;
  z-index= 999;
}

#project-container {
  width: 100%;
  float: left;
  background-color: #2e2e2e;
}

.projects {
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  margin-top: 10vh;
}

.project-list {
  margin: 0 auto;
  width: 90%;
  padding: 0;
  list-style-type: none;
}

.project-list li {
  position: relative;
  max-width: 293px;
  background-color: #4f4f4f;
  width: 100%;
  height: 400px;
  margin: 50px;
  float: left;
  overflow: hidden;
}

.h1, .h2, .h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 135px;
  background-color: #8770af;
  transition-duration: 0.8s;
}

.h2 {
  top: 133px;
  width: 100%;
  left: 293px;
  background-color: #6c4ca3;
  transition-duration: 0.8s;
}

.h3 {
  top: 266px;
  transition-duration: 0.8s;
}

.project-list li:hover .h1, .project-list li:hover .h3 {
  width: 100%;
}

.project-list li:hover .h2 {
  left: 0;
}

.project-list li h3 {
  position: absolute;
  top: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  z-index: 1;
  right: -200px;
  transform: translate(-50%);
  width: 134px;
  letter-spacing: 1px;
  transition-duration: 1.5s;
}

.project-list li:hover h3 {
  right: 10%;
}

img {
  background-position: center;
  background-repeat: no-repeat;
}

.projects ul li p {
  position: absolute;
  z-index: 1;
  top: 150px;
  left: -200px;
  color: #fff;
  padding: 20px;
  transition-duration: 2s;
}

.projects ul li:hover p {
  left: 15%;
}

.projects li button {
  position: absolute;
  z-index: 1;
  top: 400px;
  left: 70px;
  transition-duration: 0.8s;
}

.projects li:hover button {
  top: 320px;
}

.projects li button:hover {
  cursor: pointer;
}

button {
  background-color: #4CAF50;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
}

button a {
  text-decoration: none;
  color: white;
}
